link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
script(scr='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(scr='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')

head
  link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
  script(scr='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(scr='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  link(rel="stylesheet", href="../../stylesheet/login.css")

body#LoginForm
  .container
    .login-form
      .main-dev
        .panel
          h2 Recuperación de password
          p Revise su cuenta de email, le llegarán alli las instrucciones de reseteo